body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #004759, #00B6D7, #356A78);
  color: #ffffff;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 15px;
}

.intro {
  font-size: 18px;
  margin-bottom: 40px;
}

.formulario {
  display: flex;
  justify-content: center;
}

iframe {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.cadastro {
    float: right;
}

.contato-utilitarios {
    float: left;
}