/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Body */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #333;
}

/* Container */
form {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 350px;
  text-align: center;
}

/* Título */
h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #222;
}


/* Inputs */
input[type="email"] {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="email"]:focus {
  border-color: #2575fc;
}

/* Botão */
button {
  width: 100%;
  padding: 0.9rem;
  background: #2575fc;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #1a5ed9;
}

/* Mensagem */
#mensagem {
  margin-top: 1rem;
  font-size: 0.9rem;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c2c2c;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #145D6C;
}

.cadastro {
    float: right;
}

.contato-utilitarios {
    float: left;
}
